@{
    ViewData["Title"] = "Home Page";
}


<div class="container">
    <div class="row">
        <div class="col-9">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="container">

                            <!-- Content Start -->
                            <div class="row">
                                <div class="col-12">
                                    Başlık
                                </div>
                                <div class="col-12">
                                    Resim
                                </div>
                                <div class="col-12">
                                    İçerik
                                </div>
                                <div class="col-12">
                                    Tags
                                </div>
                            </div>
                            <!-- Content End -->


                        </div>
                    </div>


                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="container">
                <div class="row">
                    <div class="last-post">
                        <div class="baslik">Son Başlıklar</div>
                        <ul>
                            <li><a href="#">Başlık - 1</a></li>
                            <li>Başlık - 2</li>
                            <li>Başlık - 3</li>
                            <li>Başlık - 4</li>
                        </ul>
                    </div>
                </div>
                <div class="row">

                </div>
                <div class="row">

                </div>
            </div>
        </div>
    </div>
</div>
