@{
ViewData["Title"] = "Home Page";
}


<div class="container">
    <div class="row">
        <div class="col-9">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="container">
                            <div class="single-posts">
                                <!-- Content Start -->
                                <div class="row ">
                                    <div class="single-post">
                                        <div class="col-12">
                                            <img class="single-post-image" src="~/images/sample1_l.jpg" alt="">
                                            <a href="#" class="single-post-title">Başlık</a>
                                            <p>
                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sem mi,
                                                auctor eu
                                                placerat non, porta non nulla. Duis sollicitudin sollicitudin purus.
                                                Suspendisse
                                                tristique ultricies lectus, vitae hendrerit magna pretium ut. Sed quis
                                                ex quis
                                                nunc viverra facilisis at ac diam. Suspendisse vestibulum tortor dolor,
                                                non
                                                bibendum turpis viverra eu. Maecenas placerat ipsum sed risus
                                                consectetur
                                                tempor. Maecenas varius nisi vitae purus dapibus aliquam. Morbi orci
                                                nulla,
                                                molestie vitae tempor id, pellentesque et nunc. Nullam eu neque et leo
                                                commodo
                                                ornare. Nullam massa massa, convallis quis arcu a, dignissim feugiat
                                                mauris.
                                                Pellentesque cursus tincidunt metus. Quisque quis vestibulum nisi.
                                            </p>

                                        </div>
                                        <div class="col-12 single-post-tag">
                                            <a href="#">Kuş</a>, <a href="#">Çipetpet</a>


                                            <a class="single-post-show-more" href="makale.hgtml">Devamını Oku ...</a>



                                        </div>
                                    </div>
                                </div>

                                <div class="row  ">
                                    <div class="single-post">
                                        <div class="col-12">
                                            <img class="single-post-image" src="~/images/sample1_l.jpg" alt="">
                                            <a href="#" class="single-post-title">Başlık</a>
                                            <p>
                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sem mi,
                                                auctor eu
                                                placerat non, porta non nulla. Duis sollicitudin sollicitudin purus.
                                                Suspendisse
                                                tristique ultricies lectus, vitae hendrerit magna pretium ut. Sed quis
                                                ex quis
                                                nunc viverra facilisis at ac diam. Suspendisse vestibulum tortor dolor,
                                                non
                                                bibendum turpis viverra eu. Maecenas placerat ipsum sed risus
                                                consectetur
                                                tempor. Maecenas varius nisi vitae purus dapibus aliquam. Morbi orci
                                                nulla,
                                                molestie vitae tempor id, pellentesque et nunc. Nullam eu neque et leo
                                                commodo
                                                ornare. Nullam massa massa, convallis quis arcu a, dignissim feugiat
                                                mauris.
                                                Pellentesque cursus tincidunt metus. Quisque quis vestibulum nisi.
                                            </p>

                                        </div>
                                        <div class="col-12">
                                            Tags
                                        </div>
                                    </div>
                                </div>
                                <!-- Content End -->

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="container">
                <div class="row">
                    <div class="last-post">
                        <div class="baslik">Son Başlıklar</div>
                        <ul>
                            <li><a href="#">Başlık - 1</a></li>
                            <li>Başlık - 2</li>
                            <li>Başlık - 3</li>
                            <li>Başlık - 4</li>
                        </ul>
                    </div>
                </div>
                <div class="row">

                </div>
                <div class="row">

                </div>
            </div>
        </div>
    </div>
</div>
